@if (this.active && quiz) {
  <app-quiz-detail [quiz]="quiz" (quizFinished)="onQuizFinished()" />
} @else {
  <h2>Start a Quiz</h2>
  <fieldset>
    <legend>Select Tags:</legend>
    @for (tag of tagOptions; track tag.value) {
      <label>
        <input
          type="checkbox"
          [value]="this.selectedTags.has(tag.value)"
          (change)="toggleTag(tag.value)"
        />
        {{ tag.name }}
        <br />
      </label>
    } @empty {
      <span>No tags available</span>
    }
    <legend>Max Cards:</legend>
    <input type="number" [(ngModel)]="maxCards" placeholder="Enter max cards" />
    <legend>Select Front and Back:</legend>

    <legend>Select Category:</legend>
    @for (cat of categoryOptions; track cat.value) {
      <label>
        <input
          type="checkbox"
          [value]="selectedCategories.has(cat.value)"
          (change)="toggleCategory(cat.value)"
        />
        {{ cat.name }}
        <br />
      </label>
    } @empty {
      <span>No tags available</span>
    }

    @if (currentError) {
      <p>{{ currentError }}</p>
    }
    <button (click)="fetchQuiz()">Start quiz</button>
  </fieldset>
}
